a{
	color: yellow;
}

a:hover{
	color: black;
}

.menu{
	position: fixed;

}

.botao_menu{
	background-color: purple;
	color: white;
}

.botao-escrever-nota{
   background-color: purple;
   color: white;
   border-radius: 250px;
}

.conteudo-notas{
	border: 2px solid black;

}